<template>
  <div class="navbar" role="navigation">
    <div class="navbar-item has-dropdown is-hoverable">
      <img class="navbar-link"
           src="https://img.pngio.com/cyberpunk-quotations-4-icon-quote-png-transparent-png-download-quote-icon-png-920_555.png">
      <div class="navbar-dropdown">
        <router-link to="/" class="navbar-item">HOME</router-link>
        <router-link to="/statistics" class="navbar-item">Statistics</router-link>
        <router-link to="/scrapers" class="navbar-item">ADMIN</router-link>
    </div>
      </div>
    <div class="navbar-menu">
      <div class="navbar-start">
        <router-link to="/" class="navbar-item">HOME</router-link>
        <router-link to="/statistics" class="navbar-item">Statistics</router-link>
        <router-link to="/scrapers" class="navbar-item">ADMIN</router-link>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  name: "NavBar"
}
</script>

<style scoped>

</style>