<template>
  <div class="box">
    <div class="box">
      <div class="control" style="display: inline-flex">
        <input class="input" v-model="tag"/>
        <div class="select">
          <select v-model="quoteSize">
            <option>5</option>
            <option>25</option>
            <option>50</option>
            <option>100</option>
          </select>
        </div>
      </div>
    </div>

    <ul v-for="(quote, index) in quotes" :key="index">
      <li class="card quote">
        <div class="card-content">
          <div class="media">
            <div class="media-left" style="">
              <figure class="image">
                <span v-if="typeof(quote.quote_auth.author_pic)  !== 'undefined'" >

                <img  :src="quote.quote_auth.author_pic" alt="Author profile images"
                     class="quoteImage">
                </span>
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4 author" @click="authorSelect(quote.quote_auth.author_name)">{{ quote.quote_auth.author_name}}</p>
            </div>
          </div>

          <div class="content">
            <p class="has-text-justified quote_text" style="font-style: italic">{{ quote.quote_text }}</p>
            <div v-for="(x, ind) in quote.tags" v-bind:key="ind" style="display: inline-flex">
              <a style="display: inline-block" class="tag tags" @click="setTag(x.tag_name)"> #{{ x.tag_name }} </a>
            </div>
            <br>
            <div class="tag is-info">Likes {{ quote.quote_likes }}</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: "QuoteList",
  data() {
    return {}
  },
  computed: {
    tag: {
      get() {
        return this.$store.getters.tag
      },
      set(value) {
        this.$store.dispatch('setTag', value)
      }
    },
    quoteSize: {
      get() {
        return this.$store.getters.quoteSize
      },
      set(value) {
        this.$store.dispatch('setQuoteSize', value)
      }
    },
    quotes() {
      return this.$store.getters.quotes
    }
  },
  mounted() {
    if (this.quotes[0].author === "John Doe") {
      this.$store.dispatch('getQuotes')
    }
  },
  methods: {
    setTag(tag) {
      if (typeof (tag) != 'undefined' && tag != null) {
        this.$store.dispatch('setTag', tag)
      }
    },
    authorSelect(author) {
      this.$store.dispatch('getQuotesByAuthor', author)
    }
  }
}
</script>

<style scoped lang="scss">
.tags {
  margin: 0 5px;
  padding: 0;
  font-weight: bolder;

  :hover > & {
    font-size: 1em;
  }

  :active > & {
    text-shadow: lightgrey 2px 2px;
  }
}

.quote {
  width: 70%;
  margin: 20px auto;
  border: 0.01em solid lightgrey;
  background-color: whitesmoke;
}

.quote_text {
  /*background-color: white;*/
}

.quoteImage {
  width: 48px;
}

.author {
  cursor: pointer;

  :hover > & {
    font-weight: bolder;
    color: #282c34;
  }

  :active > & {
    color: lightseagreen;
  }

}
</style>