<template>
  <div>
    <ul v-for="(value, key) in scrapersStatus" :key="key">
      <li style="display: inline-flex">
        <div class="title scraperName">{{ key }}:</div>
        <div :class="'signal '+ value"></div>
      </li>
    </ul>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default {
  name: "Scrapers",
  data() {
    return {}

  },
  computed: {
    ...mapGetters([
      'scrapersStatus'
    ])
  },
}
</script>

<style scoped lang="scss">
.scraperName {
  width: 200px;
}

.signal {
  width: 40px;
  height: 40px;
  border-radius: 40px;

  &.idle {
    background-color: burlywood;
  }

  &.work {
    background-color: green;
  }

  &.error {
    background-color: red;
  }
}
</style>