<template>
  <div class="columns cloud">
    <div class="box column is is-one-fifth">
      <br>
      <h1 class="title">Top Authors</h1>
      <ul v-for="(author, index) in authorsRating.slice(0,35)" :key="index">
        <li class="is-light" :id="index" @click="wordClickHandlerAuthor(author.author_id)">{{ author.author_name}} -
          {{ author.total }}
        </li>
      </ul>
    </div>
    <div class="box column is-three-fifths">
      <h1 class="title">MOST POPULAR TAGS</h1>
      <br>
      <wordcloud
          :data="tagsRating"
          nameKey="tag_name"
          valueKey="total"
          :showTooltip="false"
          :wordClick="wordClickHandlerTag">
      </wordcloud>
      <hr>

      <h1 class="title">MOST POPULAR AUTHORS</h1>
      <wordcloud
          :data="authorsRating"
          nameKey="author_name"
          valueKey="total"
          :showTooltip="false"
          :wordClick="wordClickHandlerAuthor">
      </wordcloud>
    </div>
    <div class="box column is-one-fifth">
      <br>
      <h1 class="title">Top Tags</h1>
      <ul v-for="(tag, index) in tagsRating.slice(0,35)" :key="index">
        <li @click="wordClickHandlerTag(tag.tag_name)">{{ tag.tag_name }} - {{ tag.total }}</li>
      </ul>
    </div>
  </div>
</template>

<script>
import wordcloud from 'vue-wordcloud'

export default {
  name: "Statistics",
  components: {
    wordcloud,
  },
  mounted() {
    if (this.tagsRating.length === 0) {
      this.$store.dispatch('getTagRating')
    }
    if (this.authorsRating.length === 0) {
      this.$store.dispatch('getAuthorRating')
    }
  },
  computed: {
    tagsRating() {
      return this.$store.getters.tagRating
    },
    authorsRating() {
      return this.$store.getters.authorRating
    }
  },
  methods: {
    wordClickHandlerTag(name) {
      this.$store.dispatch('setTag', name)
      this.$router.replace('/')

    },
    wordClickHandlerAuthor(name) {
      this.$store.dispatch('getQuotesByAuthor', name)
      this.$router.replace('/')

    }
  }
}
</script>

<style scoped lang="scss">
.cloud {
  text-align: center;
  margin: 0 auto;
  border: 1px solid bisque;
  cursor: pointer;

  .box.column {
    margin: 0;
  }

  ul:nth-child(2n) {
    background-color: bisque;
    font-weight: bolder;
  }

  li {
    &:hover {
      font-size: 1.5em;
      font-weight: bolder;

    }

    &:active {
      color: saddlebrown;
    }
  }
}


</style>