<template>
  <div id="app">
    <nav-bar/>
    <router-view></router-view>
  </div>
</template>
<script>
import NavBar from "./components/NavBar";

export default {
  components: {NavBar},
  mounted() {
    this.$store.dispatch('getTagRating')
    this.$store.dispatch('getAuthorRating')
  },
  created() {
    this.$store.dispatch('sseStart')
  }
}
</script>

<style lang="scss">
@import "~bulma/css/bulma.min.css";

.brand {
  height: 48px;
  width: 68px;
}

.chart {
  .text {
    background-color: black !important;
  }
}
</style>
